<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.brainiacs.formtest">

    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UserMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddTeamMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddTeamActivity"
            android:label="@string/title_activity_add_team"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MatchActivity"
            android:label="@string/title_activity_match"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddMatchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.EventActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".Activities.AddResultActivity"></activity>
    </application>

</manifest>